*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #e07a5f;
    font-family: 'Noto Sans', sans-serif;

}
.Name{
    color: black;
    letter-spacing: 3px;
    font-size: 25px;

}
.Catagories{
    display: flex;
    justify-content: space-around;
    width: 35%;
}
.Catagories li{
    list-style: none;
}
.Catagories a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
}
.active, .Catagories li:hover{
    background-color: #f2cc8f;
    padding: 15px;
    margin: -15px;
    border-radius: 6px;
}
.dropdown{
    display: none;
}
.Catagories li:hover .dropdown{

    display: block;
    position: fixed;
    background-color: aqua;
    margin-top: 15px;
    margin-left: -15px;

}
body{
    background-color: #f4f1de;
}
.main2{
    background-color: #81b29a;
    border-radius: 45px;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 40px;
    margin-top: 40px;
    padding-bottom: 80px;
}
.main2 h3{
    padding: 25px;
    font-size: 55px;
    background-color: #f2cc8f;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    text-align: center;
}
.video{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.oneImage{
    float: left;
    width: 50%;
}
.first{
    padding-left: 500px;
}
.twoImage{
    float: right;
    width: 50%;
}
.threeImage{
    width: 50%;
}
.diagram{
    margin-left: 20%;
    width: 50%;
    height: auto;
}
.main2 p{
    font-size: 35px;
    padding: 20px;
}
.mobile{
    display: none;
    cursor: pointer;
}
.mobile div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
}
footer{
    position: absolute;
    bottom: -990;
    left: 0;
    right: 0;
    background: #e07a5f;
    height: auto;
    width:100%;
    font-family: 'Noto Sans', sans-serif;
    padding-top: 40px;
    color:black;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:  column;
    text-align: center;
}
.footer h3{
    font-size: 24px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    font-weight: 700;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:  column;
    margin: 1rem 0 3 rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a i{
    font-size-adjust: 2.1rem;
    transition:color .4s ease;
    color: white;
    
}
.socials a:hover i{
    color:#f2cc8f;
}
.copyright{
    background-color: #e07a5f;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.copyright p{
    font-weight: 700;
    font-size: 15px;
    word-spacing: 2px;
    text-transform: capitalize;
}
@media screen and (max-width:1024px) {
    .Catagories{
        width: 60%;
    }
    
}
@media screen and (max-width:768px) {
    body{
        overflow-x: hidden;
    }
 .Catagories{
     position: absolute;
     right: 0px;
     height: 92vh;
     top: 8vh;
     background-color: aliceblue;
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 50%;
     transform: translateX(100%);
     transition: transform 0.5s ease-in;
 }
    .Catagories li{
     opacity: 0;
    }
    .mobile{
     display: block;
    }
}
.nav-active{
    transform: translateX(0%);
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}