* {
    margin: 0;
    padding: 0;
    box-sizing:border-box
}
.slider{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 100%;
    transition: 2s ease;
}

.slide{
    width: 33.33%;
    height: 100%;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.slide::before{
    content:"";
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
}

.slide-data{
    width: 100%;
    position: absolute;
    top: 50%;
    text-align:center;
    transform: translateY(-50%);
    padding: 0 20%;
}
.slide-data h1{
    font-family: "Anton" serif;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 45px;
    color: white;
}

.slide-data p{
    font-family: "Lato", serif;
    font-size: 18px;
    margin-bottom: 10px;
    color: white;
}
.slide-data button{
    padding:10px 25px;
    color:white;
    border: 1px solid white;
    background: transparent;
    outline: none;
    font-size: 25px;
}
.slide-data button:hover {
    color:black;
    background-color: white;
}

.slide-1{
    background-image: url(omni18.png);
}
.slide-2{
    background-image: url(omni12.png);
}
.slide-3{
    background-image: url(omni11.png);
}

.slider .arrows {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 60px;
    transition: 0.4s linear;
}

.slider .arrows:hover{
    color: black;
    text-shadow: 0px 0px 10px white, 0px 0px 10px white;
}

.slider .arrows label {
    display:none;
}

.slider .arrow-left{
    left: 3%;
}

.slider .arrow-right {
    right:3%;
}

.slider input:nth-child(1):checked ~ .slides {
    left: 0;
}
.slider input:nth-child(2):checked ~ .slides {
    left: -100%;
}
.slider input:nth-child(3):checked ~ .slides {
    left: -200%;
}

.slider input:nth-child(1):checked ~ .arrows label:nth-child(1), 
.slider input:nth-child(2):checked ~ .arrows label:nth-child(2),
.slider input:nth-child(3):checked ~ .arrows label:nth-child(3){
    display: block;
}

.slider .dots {
    width: 100%;
    text-align:center;
    position: absolute;
    bottom: 15px;
}

.slider .dots label{
    display: inline-block;
    border-radius: 100%;
    margin: 0 6px;
    width: 25px;
    height: 25px;
    background-color: white;
}
.slider input:nth-child(1):checked ~ .dots label:nth-child(1), 
.slider input:nth-child(2):checked ~ .dots label:nth-child(2),
.slider input:nth-child(3):checked ~ .dots label:nth-child(3){
    background-color: black;
    border: 2px solid white;
}